{% extends 'layout.html' %} <br />
{% block title %}编辑 {% endblock %} {% block content %}
<h1>{{project.name}}</h1>
<form action="{% url 'update' project.id%}" method="post" style="width: 800px">
  {% csrf_token %}
  <div class="form-group">
    <label for="projectName">项目名称</label>
    <input
      name="name"
      class="form-control"
      id="projectName"
      type="text"
      value="{{project.name}}"
    />
  </div>
  <div class="form-group">
    <label for="projectDesc">项目描述</label>
    <textarea name="describe" class="form-control" id="projectDesc">
{{project.describe}}
</textarea
    >
  </div>

  <div class="form-group">
    <label for="projectProgress">项目进度</label>
    <input
      name="progress"
      type="range"
      class="form-control-range"
      value="{{project.progress}}"
      id="projectProgress"
      disabled
    />
  </div>

  <div class="form-group">
    <label for="projectStart">开始时间</label>
    <input
      name="start"
      class="form-control"
      id="projectStart"
      type="date"
      disabled
      value="{{project.getStartTime}}"
    />
  </div>

  <div class="form-group">
    <label for="projectExpectedEnd">预计结束时间</label>
    <input
      name="expectedEnd"
      class="form-control"
      id="projectExpectedEnd"
      type="date"
      disabled
      value="{{project.getExpectedEnd}}"
    />
  </div>

  <div class="form-group">
    <label for="projectActualDeliveryDate">实际交付日期</label>
    <input
      name="actualDeliveryDate"
      class="form-control"
      id="projectActualDeliveryDate"
      type="date"
      disabled
      value="{{project.getActualDeliveryDate}}"
    />
  </div>

  <div class="form-group">
    <label for="projectCreatedAt">创建时间</label>
    <input
      name="createdAt"
      class="form-control"
      id="projectCreatedAt"
      type="datetime-local"
      value="{{project.getCreatedAt}}"
      disabled
    />
  </div>
  <div class="form-group">
    <label for="projectUpdatedAt">更新时间</label>
    <input
      name="updateAt"
      class="form-control"
      id="projectUpdatedAt"
      type="datetime-local"
      value="{{project.getUpdatedAt}}"
      disabled
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
