{{define "headerView"}}
<div class="layui-header">
    <div class="layui-logo">项目管理后台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item "><a class="asd" href="/projects/?size=5">控制台</a></li>
        <!-- <li class="layui-nav-item"><a href="">商品管理</a></li>
        <li class="layui-nav-item"><a href="">用户</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">邮件管理</a></dd>
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li> -->
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="{{.User.HeadPic}}" class="layui-nav-img">
                {{strDefault .User.Nick "未登录"}}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="/users/profile">基本资料</a></dd>
                <dd><a href="/users/password">重设密码</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/logout">退了</a></li>
    </ul>
</div>
{{end}}
