{{$site := site "项目管理"}}
{{$site.SetUser .user}}
{{template "header"  $site}}
<main>
  <div class="container-fluid">
    <h1>项目管理</h1>
    <hr>
    <div style="margin-bottom: 16px;">

      <a href='javascript:open(`{{url "projectAdd"}}`);' class="layui-btn">
        <i class="layui-icon-addition layui-icon"></i>添加项目
      </a>
    </div>
    <table class="layui-table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>项目名称</th>
          <th>项目介绍</th>
          <th>项目进度</th>
          <th>开始时间</th>
          <th>预计结束时间</th>
          <th>项目交付时间</th>
          <th>创建时间</th>
          <th>更新时间</th>
          <th width="120">工作日志</th>
          <th width="160">操作</th>
        </tr>
      </thead>
      <tbody>
        {{range .projects }}
        <tr>
          <td>{{.ID}}</td>
          <td><b>{{strDefault .Name "-"}}</b></td>
          <td>{{strDefault .Describe "~"}}</td>
          <td>

            <div class="layui-progress layui-progress-big" lay-showPercent="yes">
              <div class="layui-progress-bar layui-bg-green" lay-percent="{{ .Progress }}%"></div>
            </div>
            <code>已进行{{.Progress}}%</code>
          </td>
          <td>{{tFormatDate .Start}}</td>
          <td>{{tFormatDate .ExpectEnd}}</td>
          <td>{{tFormatDate .ActualDeliveryDate}}</td>
          <td>{{timeFormat .CreatedAt}}</td>
          <td>{{timeFormat .UpdatedAt}}</td>
          <td><a href='{{url "projectDetail" .ID}}'>查看日志</a></td>
          <td><a href='javascript:open(`{{url "projectUpdate" .ID}}`);'>编辑</a>
            <!-- / <a
              href="javascript:del({{.ID}});">删除</a> -->
          </td>
        </tr>
        {{ end}}
      </tbody>
    </table>
    {{$url :=  strJoin "/projects?cid=&"}}
    {{.pagination.SetURLFormat $url }}
    {{template "paging" .pagination}}
    <div></div>

    <script>
      function del(id) {
        layer.confirm("确认删除？", {
          icon: 3, title: "提示"
        }, function (i) {
          fetch('{{ url "projectDel"}}' + id, { method: "delete" }).then((res) => {
            layer.close(i)

            return res.json()
          }).then(res => {
            layer.msg(res.message || "")
            setTimeout(() => {
              location.reload()
            }, 300)
          })

        })
      }

      function open(url) {
        layer.open({ type: 2, content: url, area: ['800px', '640px'] })
      }
    </script>
  </div>
</main>

{{template "footer"}}
