{{template "base_header" site "更新项目"}}

<main style="padding: 30px;">
    <div class="container-fluid">
        <h1>更新项目</h1>
        <hr>
        <form class="layui-form" style="margin-top: 20px;width:600px" action="/project/add" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                        class="layui-input" value="{{.project.Name}}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">项目介绍</label>
                <div class="layui-input-block">
                    <textarea type="text" name="describe" required lay-verify="required" placeholder="请输入标题"
                        autocomplete="off" class="layui-textarea">{{.project.Describe}}</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-block">
                    <input type="date" disabled required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                        class="layui-input" id='start' value='{{tTime .project.Start "2006-01-02"}}'>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">预计交付时间</label>
                <div class="layui-input-block">
                    <input type="date" disabled required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                        class="layui-input" id='expect_end' value='{{tTime .project.ExpectEnd "2006-01-02"}}'>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">交付时间</label>
                <div class="layui-input-block">
                    <input type="date" disabled required lay-verify="required" placeholder="请输入标题" autocomplete="off"
                        class="layui-input" id='actual_delivery_date'
                        value='{{tTime .project.ActualDeliveryDate "2006-01-02"}}'>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">项目进度</label>
                <div class="layui-input-block">
                    <input disabled type="number" value="{{.project.Progress}}" hidden id='progress'>
                    <div style="margin-bottom:10px" id="slideTest1"></div>
                    <code id="show-progress">{{.project.Progress}}%</code>
                </div>
            </div>




            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="update">立即提交</button>
                    <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
                </div>
            </div>
        </form>


        <script>
            $(document).ready(function () {
                layui.use('laydate', function () {
                    var laydate = layui.laydate;

                    //执行一个laydate实例
                    laydate.render({
                        elem: '#start', //指定元素
                        trigger: "click",

                    });
                    laydate.render({
                        elem: '#expect_end', //指定元素
                        trigger: "click",
                    });
                    laydate.render({
                        elem: '#actual_delivery_date', //指定元素
                        trigger: "click",
                    });
                });


                layui.use('slider', function () {
                    var slider = layui.slider;

                    //渲染
                    var progress = slider.render({
                        elem: '#slideTest1',  //绑定元素
                        min: 0,
                        max: 100,
                        disabled: true,
                        step: 1,
                        change: function (val) {
                            $("#progress").val(val)
                            $("#show-progress").text(val + "%")
                        }
                    });

                    progress.setValue('{{.project.Progress }}')
                });

                layui.use('form', function () {
                    var form = layui.form;

                    //各种基于事件的操作，下面会有进一步介绍
                    form.on("submit(update)", function (e) {
                        console.log(e)
                        let field = e.field || {}
                        field.start = dayjs(field.start).format("YYYY年MM月DD日 hh:mm:ss")
                        field.expect_end = dayjs(field.expect_end).format("YYYY年MM月DD日 hh:mm:ss")
                        field.actual_delivery_date = dayjs(field.actual_delivery_date).format("YYYY年MM月DD日 hh:mm:ss")
                        field.progress = field.progress * 1
                        fetch("/project/update/{{.project.ID}}", {
                            method: "put", body: JSON.stringify(field), headers: {
                                "content-type": "application/json"
                            }
                        }).then(res => {
                            // window.parent.location.reload()
                            console.log(parent.location.reload())
                            return res.json()
                        })
                        return false
                    })
                });
            })
        </script>
    </div>
</main>


{{template "base_footer"}}
